@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body {
    background-color: #d9dde8;
    margin: 0;
    font-family: 'Space Mono', monospace;
}

.main {
    
    text-align: center;
    align-items: center;
    
    
}

.boxes {
    height: 60vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: row;
    margin: 0px;
}

input {
    border: none;
    width: 160px;
    height: 70px;
    font-size: large;
    margin: 20px;
    padding-left: 25px;

    font-family: 'Space Mono', monospace;
}

.button1,.button2 {
    text-align: center;
    transition-duration: 0.4s;
    border-color: #23262a;
    height: 60px;
    width: 160px;
    font-family: 'Space Mono', monospace;
    
}



#timer {
    margin-top: 60px;
    color: #2a2d32;
    font-size: 30px;
    font-weight: bold;
} 